* {
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.options {
    display: flex;
    margin: auto;
    margin-top: 35px;
    justify-content: center;
}

.options {
    text-align: center;
}

.options img{
    margin: 0 10px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
<<<<<<< HEAD

=======
}
img{
    /* background: url("pictures/JustLaw.jpg"); */
    width: 100vw;
    height: 100vh;
>>>>>>> 4b7ea1c82de925b1baaf2e8c1914ef7285aec3db
}